:root {
  --black: #22092c;
  --maroon: #872341;
  --red: #be3144;
  --orange: #f05941;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Hepta Slab', serif;
  font-family: 'Playpen Sans', cursive;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  height: 100vh;
  width: 100vw;
  background: #780206;
  background: -webkit-linear-gradient(to right, #061161, #780206);
  background: linear-gradient(to right, #061161, #780206);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, auto));
  grid-template-rows: repeat(6, minmax(45px, 60px));
  gap: 10px;
  background-color: var(--black);
  padding: 2%;
  border-radius: 5%;
}

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 120px;
  border: none;
  border-radius: 2%;
  background-color: var(--maroon);
  padding: 15px;
  font-size: 25px;
  text-align: right;
  
}
.span-two {
  grid-column-end: span 2;
}

.danger {
  background-color: var(--red);
}

.danger:hover {
  background-color: #780206;
}

.danger:active {
  background-color: var(--black);
}

.delete {
  background-color: hsl(30, 10%, 15%);
}

.delete:hover {
  background-color: hsl(30, 5%, 10%);
}

.delete:active {
  background-color: var(--black);
}

button {
  height: 50px;
  background-color: var(--orange);
  border-radius: 2%;
  border: none;
  font-size: 18px;
}

button:hover {
  background-color: orangered;
}

button:active {
  background-color: var(--black);
}

textarea { resize: none; }